@charset "UTF-8";

@keyframes scale {
    from {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    to {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: .65;
    }
}
/* Firefox */

@-moz-keyframes scale /* Firefox */
{
    from {
            -moz-transform: scale(0.7);
            transform: scale(0.7);}
    to { 
            -moz-transform: scale(1.2);
            transform: scale(1.2);
            opacity: .65;
    }
}
/* Safari 和 Chrome */

@-webkit-keyframes scale {
    from {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    to {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: .65;
    }
}
/* Opera */

@-o-keyframes scale {
    from {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    to {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: .65;
    }
}
