<section class="widget"><h3 class="title">Categories</h3>
    <ul>
        <li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a></li>
        <li><a href="#" title="Lorem ipsum dolor sit amet,">Designing in WordPress</a></li>
        <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
        <li><a href="#" title="Lorem ipsum dolor sit amet, ">Theme Development</a></li>
        <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
        <li><a href="#" title="Lorem ipsum dolor sit amet,">WordPress for Beginners</a></li>
        <li><a href="#" title="Lorem ipsum dolor sit amet, ">WordPress Plugins</a></li>
    </ul>
</section>