{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    <title>提出问题</title>
{% endblock %}


{% block css %}
    <link rel="shortcut icon" href="https://sf-static.b0.upaiyun.com/v-580f252a/global/img/favicon.ico"/>
    <link rel="apple-touch-icon" href="https://sf-static.b0.upaiyun.com/v-580f252a/global/img/touch-icon.png">
    <link rel="stylesheet" href="https://sf-static.b0.upaiyun.com/v-580f252a/global/css/global.css"/>
    <link rel="stylesheet" href="https://sf-static.b0.upaiyun.com/v-580f252a/qa/css/qa.css"/>
    <link rel="stylesheet" href="https://sf-static.b0.upaiyun.com/v-580f252a/global/css/responsive.css"/>
    {#    <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">#}

    <link rel='stylesheet' id='main-css-css' href='{% static 'editor/css/editormd.min.css' %}' type='text/css' media='all'/>

    <link rel='stylesheet' id='responsive-css-css' href='{% static 'lib/css/responsive5152.css' %}' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='{% static 'lib/js/prettyphoto/prettyPhotoaeb9.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css-css' href='{% static 'lib/css/main5152.css' %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css-css' href='{% static 'forum/css/forum.css' %}' type='text/css' media='all'/>



{% endblock %}


{% block search %}

{% endblock %}


{% block container %}
    <div class="page-container">

        <div class="container">
            <form id="question" method="POST" class="form" _lpchecked="1">
                {% csrf_token %}

                <input type="hidden" value="" id="draftId">
                <input type="hidden" value="0" name="site" id="siteId">
                <div class="form-group">
                    <label for="title" class="sr-only">标题</label>
                    <input id="myTitle" type="text" name="title" required="" data-error="" autocomplete="off"
                           class="form-control tagClose input-lg" placeholder="标题：一句话说清问题，用问号结尾" value="">
                </div>

                <input type="hidden" name="created" data-value="" value="">

                {#                <div id="titleSuggest" class="panel hidden widget-suggest panel-default">#}
                {#                    <div class="panel-body">#}
                {#                        <p>#}
                {#                            <strong>这些问题可能有你需要的答案</strong>#}
                {#                            <button type="button" class="widget-suggest__close btn btn-default btn-xs">关闭提示</button>#}
                {#                        </p>#}
                {#                        <ul id="qList" class="list-unstyled widget-suggest__list">#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                </div>#}


                <div class="form-group ">
                    <label for="tags" class="sr-only">标签：至少1个，最多5个</label>
                    <input class="tagsInput form-control hidden" data-init="null" name="tags" type="text"
                           placeholder="标签，如：php 可使用逗号,分号;分隔" data-role="tagsinput">
                    <div class="sf-typeHelper">
                        <input type="text" data-role="sf_typeHelper-input" class="sf-typeHelper-input"
                               placeholder="标签，如：php 可使用逗号,分号;分隔" style="width: 20em;">
                        <ul class="sf-typeHelper-list dropdown-menu" style="display: none;"></ul>
                    </div>

                </div>

                <div id="editormd" class="editor liveMode">
                    <textarea name="content" style="display:none;" placeholder="
1. 描述你的问题

2. 贴上相关代码

3. 贴上报错信息

4. 贴上相关截图

5. 已经尝试过哪些方法仍然没解决（附上相关链接）"></textarea>
                </div>



                <div class=" publish-footer">
                    <div class="container">
                        <div class="operations clearfix">
                            {#                            <div class="shareToWeibo checkbox pull-left mr10 mb0">#}
                            {#                                <label for="shareToWeibo"><input type="checkbox" id="shareToWeibo"> 同步到新浪微博</label>#}
                            {#                            </div>#}
                            <div class="pull-right">
                                <span class="text-muted hidden" id="editorStatus">已保存</span>
                                <a id="dropIt" href="javascript:void(0);" class="mr10 hidden">[舍弃]</a>
                                <button class="hide" type="button"></button>
                                <button data-toggle="tooltip" data-placement="top" title="" type="submit"
                                        data-type="question" id="publishIt" class="btn btn-primary ml10" data-id=""
                                        data-do="" data-url="" data-text="发布问题" data-name="" data-original-title="">
                                    发布问题
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
{% endblock %}


{% block js %}

    <script type='text/javascript' src='{% static 'editor/js/editormd.min.js' %}'></script>
    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
                width: "90%",
                height: 640,
                syncScrolling: "single",
                path: "/static/editor/lib/"
            });

            /*
             // or
             testEditor = editormd({
             id      : "test-editormd",
             width   : "90%",
             height  : 640,
             path    : "../lib/"
             });
             */
        });
    </script>

{% endblock %}