.login-box {
    width: 300px !important;
    margin: 0 auto !important;
    padding: 100px 0 !important;
}

.login-box .row {
    margin: 0 !important;
}

.login-box .row > div {
    margin: 0 !important;
    padding: 0 !important;
}

.btn {
    width: 220px !important;
}

.oauth img {
    width: 20px !important;
}