
# Install with: `sudo pip install -r requirements.txt`

Django >= 1.8

# psycopg2 >= 2.5.4

markdown >= 2.6.2

django-haystack >= 2.4.0

whoosh >= 2.7.0

jieba >= 0.36.2

Pygments >= 1.6


pillow

requests