
<div id="subHeader" class="container-fluid">
	<div class="row sub-header">
		<div class="col-md-4 text-right">
<!-- 			<a href="" class="fa fa-github logo"></a> <strong>ITSS</strong>
 -->		</div>
		<div class="col-md-8 text-right">
			<a class="btn btn-default" href="#" role="button">Questions</a>
			<a class="btn btn-default" href="#" role="button">Tags</a>
			<a class="btn btn-default" href="#" role="button">Users</a>
			<a class="btn btn-default" href="#" role="button">Badges</a>
			<a class="btn btn-default" href="#" role="button">Unanwered</a>
			<a class="btn btn-default" href="#" role="button">Ask Question</a>
		</div>
	</div>
</div>