{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta property="wb:webmaster" content="53e6f5d6e4d9dd15" />
    <meta property="qc:admins" content="705520271073147216052" />
    <title> Repository</title>


    <link href=" {%static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- link fonticon -->
    <link href=" {%static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href=" {%static 'css/layoutit.css' %}" rel="stylesheet">
    <link href=" {%static 'css/docs.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">

    <!-- link itss style -->
    <link rel="stylesheet" href=" {%static 'css/base.css' %}">


    {% block head %}

    {% endblock %}

</head>

<body>
<!-- include header -->
    {% block header %}

    {% endblock %}



<!--container-question-->
<div class="container itss-content">
    {% block mainbody %}

    {% endblock %}
</div>

<!-- include footer -->
<!--{% include "partial/_footer.html" %}-->

<!-- block subpage add html or scripts -->
{% block others %}

{% endblock %}
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--   // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>

    <script src="{% static 'js/blog.js' %}"></script>

<script>
    window.onload=function(){
      var editor = new Editor();
      editor.render();
    }

</script>
{% block foot %}

{% endblock %}
</body>
</html>