{% load i18n %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href=" {%static 'css/password_reset.css' %}">
  <link href=" {%static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block mainbody %}

<div class="container">

  <div class="panel panel-default panel-single" style="max-width: 500px;">
    <div class="panel-heading">
      <h3 class="form-signin-heading">{% trans 'Password reset successful' %}</h3>
    </div>
    <div class="panel-body">
        <p class="text-success" >{% trans "Your password has been set.  You may go ahead and log in now." %}</p>


    </div>
    <div class="panel-heading">
        <a href="{% url 'django.contrib.auth.views.login' %}" ><h4 class="form-signin-heading">点击跳转,回到登录页面</h4></a>
    </div>

  </div>

</div> <!-- /container -->

{% endblock %}
