{% extends "base/base.html" %}
{% load staticfiles %}


{% block title %}
    <title>重置密码</title>
{% endblock %}

{% block css %}
    <!-- Style Sheet-->
    <link rel='stylesheet' id='bootstrap-css-css' href='{% static 'lib/css/bootstrap5152.css' %}' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='{% static 'lib/css/responsive5152.css' %}' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='{% static 'lib/js/prettyphoto/prettyPhotoaeb9.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css-css' href='{% static 'lib/css/main5152.css' %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css-css' href='{% static 'base/css/style.css' %}' type='text/css' media='all'/>

{% endblock %}

{% block container %}

    <div class="container-box">
        <div class="row">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>密码重置</strong></h3>
            </div>

            <p class="error-text">
                {% if messages %}
                    {% for message in messages %}
                        <p class="username-error"><strong>* {{ message }}</strong></p>
                    {% endfor %}
                {% endif %}


{#            <form action="{% url 'user:password_reset_confirm' uidb64=request.GET.get('uidb64') token=request.GET.get('token') %}" method="post">#}
            <form action="" method="post">
                {% csrf_token %}

{#                <div class="form-group ">#}
{#                    <input class="form-control" maxlength="50" name="user" required#}
{#                           placeholder="请输入您的用户名或邮箱" type="text"/>#}
{#                </div>#}

                <div class="form-group ">
                    <input class="form-control" maxlength="50" name="password" required
                           placeholder="请输入您的密码" type="password"/>
                </div>
                <div class="form-group ">
                    <input class="form-control" maxlength="50" name="password_" required
                           placeholder="请再次输入您的密码" type="password"/>
                </div>
                <button type="submit" class="btn btn-default">修改密码</button>
            </form>

        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include 'base/_footer.html' %}
{% endblock %}