{% load i18n %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href=" {%static 'user/css/password_reset.css' %}">
  <link href=" {%static 'user/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}


{% block mainbody %}



<div class="container">

  <div class="panel panel-default panel-single" style="max-width: 500px;">
    <div class="panel-heading">
      <h4 class="form-signin-heading">{{ title }}</h4>
    </div>

    {% if validlink %}
      <form action="" method="post">{% csrf_token %}

        <div class="panel-body">
            {{ form.new_password1.errors }}
           <div class="form-group ">
                <label for="">新密码</label>
                <input class="form-control"  maxlength="50" name="new_password1" placeholder="请输入您的密码" type="password" />
           </div>
                    {{ form.new_password2.errors }}
           <div class="form-group ">
                <label for="">确认密码</label>
                <input class="form-control"  maxlength="50" name="new_password2" placeholder="请输入您的密码" type="password" />
           </div>

        </div>
          <div align="center">
            <button type="submit" class="btn btn-default">修改密码</button>
          </div>

      </form>
    {% else %}

    <p class="panel-body">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
  </div>

</div>




{% endblock %}
