{% extends "partial/base.html" %}

{% load staticfiles%}
{% block head %}
<link rel="stylesheet" href=" {%static 'css/detail.css' %}">
{% endblock %}
{% block mainbody %}
<h3 class="itss-detail-title">
  <div class="itss-zan">
    <button class="fa fa-caret-up down active"></button>
    <span class="count">100</span>
    <button class="fa fa-caret-down up"></button>
  </div>
  <a href="{% url 'detail'  pk=detail_qs.pk|default:1%}">{{detail_qs.title}}</a>
</h3>
<div class="clearfix">
  <div class="col-md-8">
    <a class="" href="">{{ detail_qs.author }}</a> &nbsp;&nbsp;
    最后编辑时间：{{detail_qs.last_edited}}
    &nbsp;&nbsp;
    {% if user.is_authenticated %}
      <a class="" href="{% url 'edit_qs' pk=detail_qs.pk %}">修改</a>
      {% if user == detail_qs.author %}
      <a class="" href="{% url 'del_qs' pk=detail_qs.pk %}">删除</a>
      {% endif %}
    {% endif %}
  </div>
  <div class="col-md-4 text-right">
    1000&nbsp;<i class="fa fa-eye"></i>
  </div>
</div>
<hr/>

<blockquote>
  <h4>环境: {{detail_qs.env}}</h4>
</blockquote>

<div class="itss-p-detail">
   {{detail_qs.content_md | safe| default:" <i>正文无内容</i>" }}
</div>

<h3>解决方法{{count}}个</h3>

<div class="itss-anwser-list">
  {% for solution in solutions %}
  <div class="itss-anwser-item">
    <div class="itss-zan">
      <button class="fa fa-caret-up down"></button>
      <span class="count">100</span>
      <button class="fa fa-caret-down up"></button>
    </div>
    <h4>
      <span>{{ solution.author }} &nbsp; {{ solution.last_edited}}</span>&nbsp;&nbsp;
      {% if user.is_authenticated %}
      <a class="" href="{% url 'edit_solution' pk=solution.pk %}">修改</a>
      {% if user == detail_qs.author %}
      <a class="" href="{% url 'del_solution' pk=solution.pk %}">删除</a>
      {% endif %}
      {% endif %}
    </h4>
    <div class="content">
      {{ solution.content_md | safe|default:" <i>正文无内容</i>" }}
    </div>
  </div>
  {% endfor %}
</div>

<h3>撰写答案</h3>
<form method="post" action="{% url 'detail' pk=detail_qs.pk %}">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="pull-right">
    <button type="submit" class="btn btn-default" name="publish">提交</button>
  </div>
</form>
{% endblock %}