{% extends "qs/base.html" %}

{% block mainbody %}


<div id="content" class="inner">
    <div id="main-col" class="alignleft">
        <div id="wrapper" class="padding">
            <article class="post">


                <div class="post-content">


                    <div class="entry">
                        <p>最后编辑时间：{{detail_qs.last_edited}}
                            <a class="" href="{% url 'edit_qs' pk=detail_qs.pk %}">修改</a></p>

                        <h1>{{detail_qs.title}}</h1>
                        <code>环境: {{detail_qs.env}}</code>修改

                        <h2>问题详细描述</h2>

                        <p>{{detail_qs.content_md | safe| default:"<i>正文无内容</i>" }}</p>

                        <br/>

                        <h2>解决方法{{ count }}个</h2>
                        <hr>
                        <p>

                            {% for solution in solutions %}

                                 <span>{{ solution.author }} {{ solution.last_edited}}</span>
                                     <a class="" href="{% url 'edit_solution' pk=solution.pk %}">修改</a>
                                     <a class="" href="{% url 'del_solution' pk=solution.pk %}">删除</a>
                                    <br/>

                                 {{ solution.content_md | safe|default:"<i>正文无内容</i>" }}

                                <hr/>

                            {% endfor %}
                        </p>

                        <h2>撰写答案</h2>
                        <hr>
                        <form method="post" action="{% url 'detail' pk=detail_qs.pk %}">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <button type="submit" class="">保存</button>
                        </form>

                    </div>
                </div>
            </article>
        </div>
    </div>
</div>


{% endblock %}