{% extends "partial/base.html" %}

{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="https://sf-static.b0.upaiyun.com/v-5773827a/global/css/responsive.css"/>
    <link rel="stylesheet" href="https://sf-static.b0.upaiyun.com/v-5773827a/global/css/global.css"/>
    <link rel="stylesheet" href="https://sf-static.b0.upaiyun.com/v-5773827a/blog/css/blog.css"/>

    {#    <link rel="stylesheet" href=" {% static 'css/sf_global.css' %}">#}
    {#    <link rel="stylesheet" href=" {% static 'css/sf_blog.css' %}">#}
{% endblock %}


{% block mainbody %}

    <div class="wrap">
        <div class="post-topheader custom-">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <span class="post-topheader__title--icon-symbol">文</span>

                        <div class="post-topheader__info" data-username="xiadd" data-userslug="xiadd"
                             data-useravatar="https://sfault-avatar.b0.upaiyun.com/243/495/2434957400-56a776d731752_big64">

                            <h1 class="h3 post-topheader__info--title" id="articleTitle" data-id="1190000005861026">

                                <a class="h3 post-topheader__info--title"
                                   href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                            </h1>

                            <ul class="taglist--inline inline-block article__title--tag mr10">
                                <li class="tagPopup mb5"><a class="tag" href="" data-toggle="popover"
                                                            data-img="https://sfault-avatar.b0.upaiyun.com/740/312/74031254-1040000000089918_huge256"
                                                            data-placement="top" data-original-title="node.js"
                                                            data-id="1040000000089918">node.js</a></li>
                                <li class="tagPopup mb5"><a class="tag" href="" data-toggle="popover"
                                                            data-img="https://sfault-avatar.b0.upaiyun.com/195/823/1958237468-1040000000089436_huge256"
                                                            data-placement="top" data-original-title="javascript"
                                                            data-id="1040000000089436">javascript</a></li>
                                <li class="tagPopup mb5"><a class="tag"
                                                            href=""
                                                            data-toggle="popover" data-img="" data-placement="top"
                                                            data-original-title="微信开发"
                                                            data-id="1040000000659227">微信开发</a></li>
                            </ul>

                            <div class="article__author">
                                <a href="{% url 'user:user_index' username=object.author.username %}"
                                   class="mr5 "><strong>{{ object.author }}</strong></a>
                                {{ object.last_edited }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 hidden-xs">
                        <ul class="post-topheader__side list-unstyled">
                            <li>
                                <button type="button" class="btn btn-success btn-sm"
                                        id="blog_sideLike">{{ voted_status }}</button>
                                <strong id="sideLiked">{{ voted }}</strong> 推荐
                            </li>
                            <li>

                                <div style="display: none" class="is_favorite">{{ is_favorite }}</div>
                                <button type="button" {% if not is_favorite %} style="display: none" {% endif %} id="blog_favorited" class="btn btn-default btn-sm blog_favorite">已收藏</button>
                                <button type="button" {% if is_favorite %} style="display: none" {% endif %} id="blog_favorite" class="btn btn-default btn-sm blog_favorite">收藏</button>

                                <strong id="blog_favorite_num">{{ favorite }}</strong> 收藏，<strong
                                    class="no-stress">{{ object.count_click }}</strong> 浏览
                            </li>
                        </ul>
                    </div>

                    {% if not object.is_active %} 
                        <p class="alert alert-warning mt10">  <strong>这篇文章已被删除</strong>  </p> 
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}