{% extends "partial/base.html" %}

{% load staticfiles%}

{% block head %}
	 <link rel="stylesheet" href=" {%static 'css/index.css' %}">
     <link rel="stylesheet" href=" {%static 'css/user-info.css' %}">
  {% endblock %}
{% block mainbody %}




        <!--用户名{{ profile.user.username }} <hr>-->
        <!--{% if profile.use_gravatar %}-->
             <!--<a class="col-xs-2"><img title="{{request.user.username}}" class="avatar-middle" src="{{request.user.profile.avatar.large }}"></a>-->
        <!--{% else %}-->
            <!--<img src="{{ profile.avatar_url }}"> <hr>-->
        <!--{% endif%}-->

        <!--邮箱 {{ email }}<hr>-->
        <!--荣誉{{ profile.rank }} <hr>-->
        <!--{{ profile.voted }} 多少次被赞  <hr>-->
        <!--个人网站 {{ profile.website }}  <hr>-->

    <div class="row">

        <div class="col-md-3 profile " id="mydiv">
             <div class="profile-header media">
                 <a class="pull-left">
                 {% if profile.use_gravatar %}
                    <img title="{{request.user.username}}" class="media-object avatar-128" src="{{request.user.profile.avatar.large }}">
                 {% else %}
                    <img class="media-object avatar-128" src="{{ profile.avatar_url }}">
                 {% endif%}
                 </a>
                 <div class="media-body">
                       <p></p>
                       <p></p>
                        <h4 class="media-heading">{{ profile.user.username }}</h4>
                        <div class="smaill">
                            <span><i class="fa fa-star-o"></i> {{ profile.rank }}</span>
                            <span><i class="fa fa-thumbs-o-up"></i> {{ profile.voted }}</span>
                        </div>

                 </div>

             </div>

            <div>
                <ul class=" profile-links">
                    <!--<li>居住城市：成都</li>-->
                    <li>个人网站：<a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a></li>
                    <li>邮箱：{{ email }}</li>
                    <li>提问：{{ profile.questions }}</li>
                    <li>回答：{{ profile.answers }}</li>
                 </ul>
                个人简介：
                <div style="padding:10px;width:100%">{{ profile.content_md | safe|default:" <i>正文无内容</i>"  }}</div>
            </div>
        </div>
        <div class="col-md-9">
            <div>

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">我的提问 ({{questions | length }})</a></li>
                    <li role="presentation"><a href="#solution" aria-controls="solution" role="tab" data-toggle="tab">我的回答 ({{solutions | length }})</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">我的文章</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">我的关注</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">草稿</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                      <!-- 我的提问 -->
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="list-content">
                            <ul class="media-list">
                                {% for question in questions %}
                                  <li class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-body">
                                      <h5 class="media-heading">{{ question.published_date }}</h5>
                                      <a href="{% url 'detail'  pk=question.pk|default:1%}"><h4 class="media-heading">{{ question }}</h4></a>
                                    </div>
                                  </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                      <!-- 我的回答 -->
                    <div role="tabpanel" class="tab-pane" id="solution">
                        <div class="list-content">
                            <ul class="media-list">
                                {% for solution in solutions %}
                                  <li class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-body">
                                      <h5 class="media-heading">{{ solution.created }}</h5>
                                      <a href="{% url 'detail'  pk=solution.question.pk|default:1%}"><h4 class="media-heading">{{ solution.question }}</h4></a>
                                      <h5>{{ solution | truncatewords:"5" }}</h5>
                                    </div>
                                  </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                      
                    <div role="tabpanel" class="tab-pane" id="profile">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">

                    </div>
                  </div>

            </div>
        </div>
    </div>


        <!--提问 {{ profile.questions }} <hr>-->
        <!--回答 {{ profile.answers }} <hr>-->

        <!--个人介绍 ： {{ profile.content_md | safe|default:" <i>正文无内容</i>"  }}-->





{% endblock %}
