{% extends "partial/base.html" %}

{% load staticfiles%}

{% block head %}
	 <link rel="stylesheet" href=" {% static 'css/index.css' %}">
	 <link rel="stylesheet" href="{% static 'js/jquery.Jcrop.min.js' %}" type="text/css" />
  {% endblock %}
{% block mainbody %}

	{% if error_messages != '' %}
        {{ error_messages }}
    {% endif %}

    <h2>个人资料</h2> <hr>

<!-- 在左边 -->
	<form method="post" action="settings">
		 {% csrf_token %}

            用户名 <input  name="username" value="{{profile.user.username}}"> <hr>

			邮箱 <input name="email" type="email" value="{{ email }}"><hr>
             个人网站<input name="website" value="{{ profile.website }}"> <hr>

             关于我 <textarea  name="about_me" >{{ profile.about_me }}</textarea>


		<div class="pull-right op-btn">

			<button type="submit" class="btn btn-default" >保存</button>
		</div>
	</form>


			{% if profile.use_gravatar %}
				 <img title="{{request.user.username}}" class="avatar-middle" src="{{request.user.profile.avatar.large }}">
			{% else %}
				<img src="{{ profile.avatar_url }}" name="avatar"> <hr>
			{% endif%}


<!-- 在右边 -->
        <form  action="{% url 'uploadavatar_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

                <!--<button>{{ CHOOSE_IMAGE }}</button>-->
                <input type="file"  name="uploadavatarfile" />


                <button type="submit" class="btn btn-default" name="publish">提交</button>
        </form>

{% endblock %}