
{% load staticfiles%}

{% block head %}
<!--<link rel="stylesheet" href=" {% static 'css/index.css' %}">-->
<link rel="stylesheet" href=" {% static 'css/dropzone.css' %}">
<!--<link rel="stylesheet" href=" {% static 'css/dropzonejs.style.css' %}">-->

<!--<link rel="stylesheet" href="{% static 'js/jquery.Jcrop.min.js' %}"/>-->
<!--<link rel="stylesheet" href=" {% static 'css/user-info.css' %}">-->


<!--<link rel="stylesheet" href="{% static 'js/dropzonejs.fastclick.js' %}"/>-->
<!--<link rel="stylesheet" href="{% static 'js/dropzonejs.app.js' %}"/>-->

<!--<link  href="{% static 'js/dropzone.js' %}"/>-->
<script src="{% static 'js/dropzone.js' %}" ></script>
{% endblock %}

<!--<script src="http://localhost:63343/untitled/src/js/dropzone.js" ></script>-->

{% block mainbody %}

    <form action="/upload" class="dropzone" id="demo-upload">

        <div class="dz-message">
            Drop files here or click to upload.<br/>
            <span class="note">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
        </div>

    </form>

{% endblock %}