{% extends "partial/base.html" %}

{% load staticfiles%}

{% block head %}
	 <link rel="stylesheet" href=" {% static 'css/index.css' %}">
  {% endblock %}
{% block mainbody %}

    <h2>个人资料</h2> <hr>

	<form method="post" action="settings">
		 {% csrf_token %}

            用户名 <input  name="username" value="{{profile.user.username}}"> <hr>
            头像<img src="{{ profile.avatar_url }}" name="avatar"> <hr>

			邮箱 <input name="email" type="email" value="{{ email }}">
             个人网站<input name="website" value="{{ profile.website }}"> <hr>

             关于我 <textarea  name="about_me" value="{{ profile.about_me }}"></textarea>


		<div class="pull-right op-btn">

			<button type="submit" class="btn btn-default" >保存</button>
		</div>
	</form>

{% endblock %}