{% extends "partial/base.html" %}

{% load staticfiles%}

{% block head %}
<link rel="stylesheet" href=" {% static 'css/index.css' %}">
<link rel="stylesheet" href=" {% static 'css/dropzone.css' %}">

<!--<link rel="stylesheet" href="{% static 'js/jquery.Jcrop.min.js' %}"/>-->
<link rel="stylesheet" href=" {% static 'css/user-info.css' %}">


<script src="{% static 'js/dropzone.js' %}"></script>


{% endblock %}

{% block mainbody %}

{% if error_messages != '' %}
{{ error_messages }}
{% endif %}

<div class="row">

    <div class="col-md-12">

        <!-- 在左边 -->

        <div class="tabs-left">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                          data-toggle="tab"><i class="fa fa-user"></i> 头像设置</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i
                        class="fa fa-code"></i> 资料设置</a></li>
                <li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab"><i
                        class="fa fa-key fa-fw"></i> 修改密码</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i
                        class="fa fa-cog "></i> 第三方帐号设置</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="edit-handimage">

                        <!-- 在右边 -->
                        <fieldset>
                            <legend class="">头像设置</legend>
                            {% if profile.use_gravatar %}
                            <img title="{{request.user.username}}" class="avatar-128"
                                 src="{{request.user.profile.avatar.large }}">
                            {% else %}
                            <img src="{{ profile.avatar_url }}" name="avatar" class="avatar-128">
                            <!--<hr>-->
                            {% endif%}
                        </fieldset>

                    <!-- 上传头像 -->
                    <form action="{% url 'uploadavatar_upload' %}" class="dropzone" id="demo-upload">
                        {% csrf_token %}
                    </form>


                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="edit-profile">
                        <form class="form-horizontal" method="post" action="{% url 'settings' %}">
                            <fieldset>
                                <legend class="">个人资料</legend>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户名</label>

                                    <div class="col-sm-10">
                                        <input name="username" value="{{profile.user.username}}" class="form-control"
                                               placeholder="请输入用户名">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">邮箱</label>

                                    <div class="col-sm-10">
                                        <input name="email" value="{{ email }}" class="form-control" placeholder="邮箱">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">个人网站</label>

                                    <div class="col-sm-10">
                                        <input name="website" value="{{ profile.website }}" class="form-control"
                                               placeholder="个人网站地址">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">关于我</label>

                                    <div class="col-sm-10">
                                            <textarea name="about_me"
                                                      placeholder="多少写一点吧...">{{ profile.about_me }}</textarea>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-success">保存资料</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="password">
                    <div class="edit-profile">
                        <form class="form-horizontal" method="post" action="{% url 'resetpwd' %}">
                            {% csrf_token %}
                            <fieldset>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">新密码</label>

                                    <div class="col-sm-10">
                                        <input name="passpwd1" type="password"  class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">再次输入密码</label>

                                    <div class="col-sm-10">
                                        <input name="passpwd2" type="password"  class="form-control">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-success">保存修改</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">

                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}