@charset "UTF-8";

//helps
@import "helps/variables";
@import "helps/functions";
@import "helps/placeholders";
@import "helps/mixins";

@import "compass";

//layout
@import "layout/layout";
@import "layout/banner";
@import "layout/header";
@import "layout/footer";
@import "layout/slidebar";

//pages


.itss-zan{
	width: 40px;
	@include border-radius(4px);
	overflow: hidden;
	background:$white;
	button{
		display: block;
		margin: 0 auto;
		color: $color;
		background:transparent;
		font-size: 60px;
		line-height: 30px;
		padding: 0;
		border: 0;
		bottom: 0;
		outline: 0;
		&:active,
		&.active{
			color: $active;
		}
	}
	.count{
		font-size: 20px;
		font-weight: 500;
		display: block;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
}