@charset "UTF-8";

//helps
@import "helps/variables";
@import "helps/functions";
@import "helps/placeholders";
@import "helps/mixins";

@import "compass";



//editor
.editor-toolbar{
	// border: 1px solid $border;
}

.CodeMirror{
	border: 1px solid $border;
	border-width: 1px 1px 0;
}

.editor-statusbar{

}

.itss-detail-title{
	position: relative;
	.itss-zan{
		position: absolute;
		top: -20px;
		left: -60px;
	}
}
.itss-p-detail{
	position: relative;
	padding: 30px 20px;
}

.itss-anwser-list{

}

.itss-anwser-item{
	position: relative;
	padding: 10px 0;
	line-height: 1.5;
	font-size: 14px;
	&>h4{
		a{
			font-size: 14px;
		}
	}
	.itss-zan{
		position: absolute;
		top: -10px;
		left: -60px;
	}
	.content{
		min-height: 80px;
		border-bottom: 1px solid $border;
	}
}