@charset "UTF-8";

//helps
@import "helps/variables";
@import "helps/functions";
@import "helps/placeholders";
@import "helps/mixins";

@import "compass";



//editor
.editor-toolbar{
	// border: 1px solid $border;
}

.CodeMirror{
	border: 1px solid $border;
	border-width: 1px 1px 0;
}

.editor-statusbar{

}
.itss-p-detail{
	position: relative;
	padding: 30px 20px;
}

.itss-anwser-list{
	
}

.itss-anwser-item{
	position: relative;
	padding: 10px 0 0 50px;
	line-height: 1.5;
	font-size: 14px;
	&>h4{
		a{
			font-size: 14px;
		}
	}

	.itss-zan{
		position: absolute;
		top: 10px;
		left: 0;
	}

	.content{
		border-bottom: 1px solid $border;
	}
}