@charset "UTF-8";

//helps
@import "helps/variables";
@import "helps/functions";
@import "helps/placeholders";
@import "helps/mixins";

@import "compass";



.edit-box{
	position: relative;
	// border: 1px solid $border;

	label[for="id_env"],
	label[for="id_title"]{
		display: none;
	}

	select{
		border: 0;
	}
}

#id_env,
#id_title{
	display: block;
	width: 100%;
	box-sizing:border-box;
	height: 40px;

	border: 1px solid $border;
	outline: 0;
	box-shadow: 0;
	padding: 3px 5px;
	margin: 0 0 10px;
	border-radius: 4px;
}


//editor
.editor-toolbar{
	// border: 1px solid $border;
}

.CodeMirror{
	border: 1px solid $border;
	border-width: 1px 1px 0;
}

.editor-statusbar{

}