{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Repository</title>
{% endblock %}

{% block css %}
    <!-- Style Sheet-->
    {#    <link rel="stylesheet" href="{% static 'lib/css/style.css' %}"/>#}
    <link rel='stylesheet' id='bootstrap-css-css' href='{% static 'lib/css/bootstrap5152.css' %}' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='{% static 'lib/css/responsive5152.css' %}' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='{% static 'lib/js/prettyphoto/prettyPhotoaeb9.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css-css' href='{% static 'lib/css/main5152.css' %}' type='text/css' media='all'/>
    {#    <link rel='stylesheet' id='custom-css-css' href='css/custom5152.html?ver=1.0' type='text/css' media='all'/>#}
    <link rel='stylesheet' id='main-css-css' href='{% static 'forum/css/forum.css' %}' type='text/css' media='all'/>

{% endblock %}


{% block search %}
    <div class="search-area-wrapper">
        <div class="search-area container">
            <h3 class="search-header">Have a Question?</h3>
            <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>

            <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
                <input class="search-term required" type="text" id="s" name="s"
                       placeholder="Type your search terms here" title="* Please enter a search term!"/>
                <input class="search-btn" type="submit" value="Search"/>
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>

{% endblock %}


{% block container %}
    <div class="page-container">
        <div class="container">
            <div class="row">

                <!-- start of page content -->
                <div class="span8 page-content">

                    {#                    <ul class="breadcrumb">#}
                    {#                        <li><a href="#">Knowledge Base Theme</a><span class="divider">/</span></li>#}
                    {#                        <li><a href="{{ object.get_absolute_url }}" title="View all posts in Server &amp; Database">Server#}
                    {#                            &amp; Database</a> <span class="divider">/</span></li>#}
                    {#                        <li class="active">{{ object.title }}</li>#}
                    {#                    </ul>#}

                    <article class=" type-post format-standard hentry clearfix">

                        <h1 class="post-title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>

                        <div class="post-meta clearfix">
                            <span class="date">{{ object.create_time | date:"Y-m-d H:i" }}</span>
                            <span class="category"><a href="" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                            <span class="comments"><a href="{% url 'blog:edit' pk=object.id %}" >编辑</a></span>
                            <span class="deletelink"><a href="{% url 'blog:del' pk=object.id %}" >删除</a></span>
{#                            <span class="like-count">66</span>#}
                        </div><!-- end of post meta -->

                        {{ object.content | safe| default:" <i>正文无内容</i>" }}

                    </article>

                    <div class="like-btn">

                        <form id="like-it-form" action="" method="post">
                            {% if not object.is_active %}
                                <span> 该文章成功被删除！</span>
                            {% endif %}
                            <input type="hidden" name="post_id" value="99">
                            <input type="hidden" name="action" value="like_it">
                        </form>

                        <span class="tags">
                            <strong>Tags:&nbsp;&nbsp;</strong>
                            <a href="" rel="tag">basic</a>,
                            <a href="" rel="tag">setting</a>,
                            <a href="http://knowledgebase.inspirythemes.com/tag/website/" rel="tag">website</a>
                        </span>

                    </div>

                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="{{ object.id }}" data-title="{{ object.title }}"
                         data-url="{{ object.get_absolute_url }}"></div>
                    <!-- 多说评论框 end -->
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                        var duoshuoQuery = {short_name: "repository"};
                        (function () {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';
                            ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- 多说公共JS代码 end -->
                    <!-- end of comments -->

                </div>
                <!-- end of page content -->


                <!-- start of sidebar -->

                <!-- end of sidebar -->
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'base/_footer.html' %}
{% endblock %}