{% extends "partial/base.html" %}

{% load staticfiles%}
{% block head %}
<link rel="stylesheet" href=" {%static 'css/edit.css' %}">
{% endblock %}
{% block mainbody %}
<div class="edit-qa-box">
	<form method="post">
		<h2 class="title">新增知识点</h2>
		 {% csrf_token %}
		<div class="edit-box">
			 {{ form.as_p }}
		</div>

		<div class="pull-right op-btn">
			<button type="submit" class="btn btn-default" name="draft">存草稿</button>
			<button type="submit" class="btn btn-default" name="publish">发布知识点</button>
		</div>
	</form>
</div>
{% endblock %}