{% extends "partial/base.html" %}

{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href=" {%static 'user/css/style.css' %}">
{% endblock %}

{% block mainbody %}

<div class="container">
  
  <div class="password-reset center-block">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>密码重置</strong></h3>
      </div>
      <div class="panel-body">
        
        <form action="" method="post">
            {% csrf_token %}
          {{ form.email.errors }}
          <div class="form-group ">
            <label for="">邮箱</label>
              <!--{{ form.email }}-->
            <input class="form-control" id="id_email" maxlength="50" name="email" placeholder="请输入您注册的邮箱" type="text" />
          </div>
          <button type="submit" class="btn btn-default">发送重置邮件</button>
        </form>


      </div>
    </div>
  </div>
</div>
{% endblock %}